/*==============================================================================
Colors
==============================================================================*/

$white            : #fff;
$black            : #000;

$purple--dark-1    : #0d1023;
$red               : #f00;
$blue              : #0072ff;



/*==============================================================================
Fonts
==============================================================================*/

$base-font--1    : 'StarJediHollow', 'StarJedi',  "Helvetica", "Arial", sans-serif;
$base-font--2    : 'StarJedi', 'StarJediHollow', "Helvetica", "Arial", sans-serif;
$base-font--3    : 'XWing', 'StarJedi', "Helvetica", "Arial", sans-serif;
$base-font--4    : 'XWingShip', 'StarJedi', "Helvetica", "Arial", sans-serif;
$base-font--5    : 'EurostileLTStd-Cn', "Helvetica", "Arial", sans-serif;
