/*==============================================================================
Colors
==============================================================================*/

$white            : #fff;
$black            : #000;

$purple--dark-1    : #0d1023;



/*==============================================================================
Fonts
==============================================================================*/

$base-font--1    : 'StarJediHollow', 'StarJedi',  "Helvetica", "Arial", sans-serif;
$base-font--2    : 'StarJedi', 'StarJediHollow', "Helvetica", "Arial", sans-serif;
