@font-face {
  font-family: 'StarJedi';
  src: url('../fonts/StarJedi.eot?#iefix') format('embedded-opentype'),
       url('../fonts/StarJedi.woff') format('woff'),
       url('../fonts/StarJedi.ttf')  format('truetype'),
       url('../fonts/StarJedi.svg#StarJedi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarJediHollow';
  src:  url('../fonts/StarJediHollow.eot?#iefix') format('embedded-opentype'),
        url('../fonts/StarJediHollow.woff') format('woff'),
        url('../fonts/StarJediHollow.ttf')  format('truetype'),
        url('../fonts/StarJediHollow.svg#StarJediHollow') format('svg');
  font-weight: normal;
  font-style: normal;
}
