@font-face {
  font-family: 'StarJedi';
  src: url('../fonts/StarJedi.eot?#iefix') format('embedded-opentype'),
       url('../fonts/StarJedi.woff') format('woff'),
       url('../fonts/StarJedi.ttf')  format('truetype'),
       url('../fonts/StarJedi.svg#StarJedi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarJediHollow';
  src:  url('../fonts/StarJediHollow.eot?#iefix') format('embedded-opentype'),
        url('../fonts/StarJediHollow.woff') format('woff'),
        url('../fonts/StarJediHollow.ttf')  format('truetype'),
        url('../fonts/StarJediHollow.svg#StarJediHollow') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'EurostileLTStd-Cn';
  src: url('../fonts/EurostileLTStd-Cn.eot?#iefix') format('embedded-opentype'),
       url('../fonts/EurostileLTStd-Cn.otf')  format('opentype'),
	     url('../fonts/EurostileLTStd-Cn.woff') format('woff'),
       url('../fonts/EurostileLTStd-Cn.ttf')  format('truetype'),
       url('../fonts/EurostileLTStd-Cn.svg#EurostileLTStd-Cn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Xwing';
  src:  url('../fonts/xwing-miniatures.eot?#iefix') format('embedded-opentype'),
        url('../fonts/xwing-miniatures.woff') format('woff'),
        url('../fonts/xwing-miniatures.ttf')  format('truetype'),
        url('../fonts/xwing-miniatures.svg#xwing-miniatures') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'XWingShip';
  src:  url('../fonts/x-wing-ships.eot?#iefix') format('embedded-opentype'),
        url('../fonts/x-wing-ships.woff') format('woff'),
        url('../fonts/x-wing-ships.ttf')  format('truetype'),
        url('x-wing-ships.svg#x-wing-ships') format('svg');
  font-weight: normal;
  font-style: normal;
}
