* {box-sizing: border-box;}

.body {
  background: $black;
  background: url('../img/images/stars_bg.png'), radial-gradient(closest-corner at 40% 50%, $purple--dark-1, $black);
  color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  animation: background-move 90s ease infinite;
  animation-direction: alternate;
}
.container-stars {
  position: absolute;
  top:0;left: 0; bottom: 0; right:0;
}

.container-main {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
  max-width: 100%;
  min-width: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  @include mq(l) {
    flex-direction: row;
    justify-content: space-around;
  }
}
.container-ship {
  padding: 15px;
  margin: 0 auto;
}
.container-team {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px 15px 15px;
  border-radius: 10px;
  border: 1px solid $white;
  min-width: 300px;
  @include mq(m) {
    padding: 140px 15px 15px;
  }
  &:first-of-type {
    margin-bottom: 20px;
  }
  &:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    @include mq(m) {
      width: 100px;
      height: 100px;
    }
  }
  &.empire:before {
    background: url('../img/images/galactic-empire.svg');
    background-size: contain;
  }
  &.rebels:before {
    background: url('../img/images/rebel-alliance.svg');
    background-size: contain;
  }
  span {
    display: block;
     @include mq(s) {
        float: left;
        margin: 30px 15px 0;
    }
  }
  img {
    max-height: 80px;
    @include mq(m) {
      max-height: 150px;
    }
  }
}
.container-xwing-icons {
  margin: 20px 0 0;
  padding-left: 0;
   @include mq(l) {
    float: right;
  }
}
