* {box-sizing: border-box;}

.body {
  background: $black;
  background: url('../img/images/stars_bg.png'), radial-gradient(closest-corner at 40% 50%, $purple--dark-1, $black);
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  animation: background-move 90s ease infinite;

  animation-direction: alternate;
}

.container-main {
  position: relative;
  overflow-x:hidden;
}

.container-circles {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-empire {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 150px;
  padding: 10px;
  transform: translateX(-50%);
  overflow-y: auto;
  @include mq(m) {
    border-radius: 20px;
    max-width: 70%;
    top: 150px;
  }
  @include mq(l) {
    max-width: 50%;
    top: 120px;
  }
  @include mq(xl) {
    padding: 20px;
    max-width: 35%;
    top: 200px;
  }
}

.mask {
  width: 180px;
  height: 120px;
  overflow: hidden;
  position: absolute;
  right: -30px;
  top: 30px;
  .dunno-masked {
    max-width: 100%;
    @include mq(m) {
      display: none;
    }
  }
}

.dunno {
  position: absolute;
  bottom: -74px;
  right: 0;
  max-width: 60%;
  display: none;
  @include mq(m) {
    display: block;
    max-width: 50%;
    bottom: 0;
  }
  @include mq(l) {
    max-width: 33%;
  }
}
