h1, h2, h3 {
  font-family: $base-font--2;
  font-size: 24px;
  letter-spacing: 7px;
  @include mq(m) {
    font-size: 48px;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sw-icon {
  font-family: $base-font--3;
  font-size: 50px;
  @include mq(m) {
    font-size: 80px;
  }
}
.xwing-icon {
  font-size: 24px;
  display: block;
  text-align: center;
  cursor: pointer;

}
